<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="~/favicon.ico" />
    <title>

        @ViewData["Title"] - BookStore
       
    </title>
    <link href="~/favicon-32x32.png"/>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="#page-top" style="margin-top:-15px; margin-left:-40px" >
                    <img src="~/bookStoreLogo.png"
                         width="75" height="75" alt="logo" />
                </a>
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    BookStore
                    <link href="~/favicon-32x32.png" />

                </a>
                <a asp-area="" asp-controller="Home" asp-action="Index"> <img src="~/favicon-32x32.png" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            @if (User.Identity.IsAuthenticated)
                            {
                                @if (User.IsInRole("Admin"))
                                {
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Logout">Hoşgeldin Admin! - @User.Identity.Name (Çıkış Yap)</a>
                                }
                                else if (User.IsInRole("Editor"))
                                {
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Logout">Hoşgeldin Editor! - @User.Identity.Name (Çıkış Yap)</a>
                                }
                                else
                                {
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Logout">Hoşgeldin @User.Identity.Name (Çıkış Yap)</a>
                                }


                            }
                            else
                            {
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Giriş Yap</a>
                            }

                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!--Menü eklentisi-->
    <div class="container">
        <main role="main" class="pb-3">
            <div class="row">
                <div class="col-3"> @await Component.InvokeAsync("Menu")</div>
                <div class="col-9">
                    <!--column sayısının toplamda 12ye tamamlanması lazım-->
                    @RenderBody()
                </div>
            </div>

        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - BookStore - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/aletify/alertify.min.js"></script>  <!--libden secip sürükledik-->
    @RenderSection("Scripts", required: false)
</body>
</html>
